.textNormal{
    font-family: Century Gothic, sans-serif;
    color:#666666;
    font-size: medium;
    font-weight: normal;
}
.textWhite
{
    font-family: Century Gothic, sans-serif;
    color:white;
}
.textLarge{
   font-family: Century Gothic, sans-serif;
   color:#666666;
   font-size: xx-large;
}
.textH{
   font-family: Century Gothic, sans-serif;
   color:#666666;
   font-size: large;
}
.textInfo
{
   font-family: Century Gothic, sans-serif;
   
   text-align: justify;
}
li
{
       font-family: Century Gothic, sans-serif;

}
.textSmall
{
    font-family: Century Gothic, sans-serif;
    font-size: small;
}