/* 
    Document   : texts
    Created on : 09-May-2013, 16:39:45
    Author     : Lee
    Description:
        Purely font formatting 
*/

.t1basic
{
    color: black;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
}
.tButton
{
    color: white;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    font-size: small;
}
.tNav
{
    color: white;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    font-size: 1em;
}